body
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    overflow-x: hidden; /* Horizontal scrolling disable */
}



/* bigger screen */
@media (min-width:990px ) 
{

    .maincontainer
{
    width: 100%;
    height: 100vh;
}
.container-one
{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   position: relative;
}
.bg-image
{
    /* position:relative ;  */
    /* z-index: 0; */
    width: 100%;
    transform: scale(1.4);
    height: 100vh;
}
.tint
{
    background-color:rgba(0, 0, 0, 0.381);
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
   
    /* z-index: 1; */
    top: 0;
   bottom: 0;
   left: 0;
   right: 0;

}
.nav {
    position: absolute;
    width: 100%; /* Full width le raha hai */
    display: flex;
    justify-content: space-between; /* Left & Right me maximum gap */
    align-items: center;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px; /* Left & Right dono side 50px space */
    background-color: transparent;
    box-sizing: border-box;/* Ensure karega ki padding width ke andar count ho */
}


.netflixlogo
{
    /* position: absolute; */
    height: 80px;
    width: 180px;
    /* background-color: aqua; */
    margin: 0;
    display: block;
    /* margin-right: 150px; */
   
    
}
.Flex-button
{
    display: flex;
    gap:10px;
    align-items: center;
}
.en-btn
{
    background-color: black;
    color: white;
    border:2px solid gray;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
}
.Sign_in
{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
}
.content
{
    position: absolute;
    width: 840px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;

}
.mainheading
{
    font-size: 4vmax;
    text-align: center;
    margin: 0;
   
}
.secondheading
{
    
    font-size: 1.5vmax;
    font-weight: bold;
}

.email_flex
{
    display: flex;
    /* width: 100%; */
    
    
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.email_input
{
   width: 30vw;
   padding: 18px;
   border: 1px solid rgba(128, 128, 128, 0.44);
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.568);
   color:white;
}
.email_input:focus
{
outline: 2px solid white;
}
.getstarted
{
    background-color: rgb(228, 6, 6);
    color: white;
    padding: 1vmax;
    font-size: 1.4vmax;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.arrow
{
   margin-top: 4px;
}
.second
{
    border-top: 7px solid rgba(128, 128, 128, 0.244);
}
.left
{
   
    width: 50%;

}
.container-two
{
        color: white;
        display: flex;
        width: 70vw;
        margin: 50px auto;
        gap: 80px;
        align-items: center;
}
.sndtheading
{
    font-size: 3vmax;
}
.right
{
    position: relative;
    width: 50%;
   
}
.realtv{
    position: relative;
    width: 40vw;
    margin: auto;
    display: block;
    
}
.videoon
{
    position: absolute;
    top: 47.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    width: 72%; 
    height: 55%;
    object-fit: contain;
    
    
}

.videoimg
{
    
    width: 100%;

}
.Third
{
    border-top: 7px solid rgba(128, 128, 128, 0.244);
}
.container-three
{
    width: 900px;
    display: flex;
    margin: 50px 300px;
    /* gap: 80px; */
    margin-top: 100px;
}


.right3
{
    margin-top: 20px;
    position: relative;
}
.videoon1
{
    position: absolute;
    top: 30%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    width: 65%; 
    height: 70%;
    object-fit: contain;
    
}
.device
{       position: relative;
        width: 100%;
    
}
.kids
{
    width: 450px;
}

.Fourth
{
    border-top: 7px solid rgba(128, 128, 128, 0.244);
}
.Fourth h1{
    font-size: 40px;
}
.container-four
{   width: 70vw;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    left:50%;
    top: 5%;
    transform: translate(-50%,5%);
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .question
 {
   width: 70vw;
    background-color:rgb(45, 45, 45);
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;
    transition: .3s;
   
   
 }
 .question:hover
 {
    background-color:rgba(86, 82, 82, 0.736);
 }
.what
{
    
    text-align: start;
    background:none;
    border: none;
    font-size: 1.5vmax;
    color: white;
    padding: 15px;
   
}
.details
{
    font-size: 50px;
    background: none;
    border: none;
    color: white;
    font-weight: lighter;

}
.email_input1
{
   width: 30vw;
   padding: 18px;
   border: 1px solid rgba(128, 128, 128, 0.44);
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.568);
   color:white;
}
.email_input1:focus
{
outline: 2px solid white;
}
.getstarted1
{
background-color: rgb(228, 6, 6);
    color: white;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: normal;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 170px;
    margin-bottom: 100px;
    margin-top: 10px;
}
.footer
{
    /* border-top: 7px solid rgba(128, 128, 128, 0.244); */
    width: 70vw;
    margin: 20px auto;
    height: 70vh;
    
    /* background-color: rgb(204, 15, 15); */
   
    
    
}
.footer a
{
    color: rgba(255, 255, 255, 0.7);
}
.help
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    

}
.support
{
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: start;
    gap: 150px;
    
}
.support_details
{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 


.language
{
    
    width: 100px;
    padding: 8px 10px;
    gap: 6px;
    border: 3px solid rgba(87, 87, 87, 0.56);
    border-radius: 7px;
    
}

.language2
{
    
    width: 100px;
    padding: 8px 10px;
    gap: 6px;
    border: 3px solid rgba(87, 87, 87, 0.56);
    border-radius: 7px;
    margin-top: 50px;
}
.language select
{
 border: none;
 background-color: black;
 color: white;
 font-size: 15px;
}
.language2 select
{
 border: none;
 background-color: black;
 color: white;
 font-size: 15px;
}
.language option
{
    margin-top: 60px;
    color:black;
    border: none;
    background-color: white;

   
}
.languagepng
{
    height: 20px;
    width: 20px;
    color: white;
}
.nindia
{
    margin-bottom: 100px;
}
.nindia p{
    margin-top: 30px;
    color:rgba(255, 255, 255, 0.7);
    margin-bottom: 100px;
    
}
}

/* medium screen */
@media (min-width:586px) and (max-width:990px)
{

    .maincontainer
{
    width: 100vw;
    /* height: 100vh; */
}
.container-one
{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   position: relative;
}
.bg-image
{
    
    width: 100%;
    transform: scale(1.2);
    height: 100vh;
    object-fit: cover;
}
.tint
{
    background-color:rgba(0, 0, 0, 0.381);
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
   
    /* z-index: 1; */
    top: 0;
   bottom: 0;
   left: 0;
   right: 0;

}
.nav {
    position: absolute;
    width: calc(100vw - 80px);  /* Full width le raha hai */
    display: flex;
    justify-content: space-between; /* Left & Right me maximum gap */
    align-items: center;
    top: 6%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
   
}


.netflixlogo
{
    /* position: absolute; */
    height: 80px;
    width: 180px;
    /* background-color: aqua; */
    margin: 0;
    display: block;
    /* margin-right: 150px; */
   
    
}
.Flex-button
{
    display: flex;
    gap:10px;
    align-items: center;
}
.en-btn
{
    background-color: black;
    color: white;
    border:2px solid gray;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
}
.Sign_in
{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
}
.content
{
    position: absolute;
    width: 70vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    overflow: hidden;
    /* height: 100vh; */

}
.mainheading
{
    font-size: 4vmax;
    text-align: center;
    margin: 0;
   
}
.secondheading
{
    
    font-size: 2vmax;
    font-weight: bold;
}



.email_flex
{
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    text-align: center;
    gap: 10px;
    align-items: center;
}
.email_input
{
    width: 32vw;
    padding: 14px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.551);
    border: 1px solid #eeeeee70;
    border-radius: 4px;
    /* margin-bottom: 10px; */
    /* height: 4vh; */
}
.email_input:focus
{
outline: 2px solid white;
}
.getstarted
{
    background-color: rgb(228, 6, 6);
    color: white;
    padding: 8px 20px;
    font-size: 3vmax;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.arrow
{
   margin-top: 4px;
}
.second
{
    border-top: 7px solid rgba(128, 128, 128, 0.244);
}
.left
{

    width: 80vw;
    margin: auto;
    text-align: center;
}
.container-two
{

    color: white;
    margin: 100px auto;
    
}
.sndtheading
{
    font-size: 35px;
}
.contenttwo
{
    margin-top: -20px;
}
.right
{
    width: 80vw;
    text-align: center;
    margin: auto;
}
.realtv
{
    margin: auto;
    width: 70vw;
    display: block;
    position: relative;
}
.videoon
{
        margin-left: 66px;
        width: 80%;
        height: 90%;
        object-fit: contain;
        position: absolute;
}


.videoimg
{
    width: 100%;
    position: relative;
    
}
.Third
{
    border-top: 7px solid rgba(128, 128, 128, 0.244);
}
.container-three
{
    width: 900px;
    display: flex;
    margin: 50px 300px;
    
    margin-top: 100px;
}

.videoon1
{
        top:30%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 62%;
        object-fit: contain;
        position: absolute;
    
}
.device
{
        width: 100%;
        position: relative; 
    
}
.kids
{
    width: 450px;
}

.Fourth
{
    border-top: 7px solid rgba(128, 128, 128, 0.244);
}
.Fourth h1{
    font-size: 40px;
}
.container-four
{   width: 70vw;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    left:50%;
    top: 5%;
    transform: translate(-50%,5%);
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .question
 {
   width: 70vw;
    background-color:rgb(45, 45, 45);
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;
    transition: .3s;
   
   
 }
 .question:hover
 {
    background-color:rgba(86, 82, 82, 0.736);
 }
.what
{
    
    text-align: start;
    background:none;
    border: none;
    font-size: 2vmax;
    color: white;
    padding: 15px;
   
}
.details
{
    font-size: 50px;
    background: none;
    border: none;
    color: white;
    font-weight: lighter;

}
.email_input1
{
    width: 450px;
   padding: 12px;
   border: 2px solid rgba(128, 128, 128, 0.44);
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.568);
   color:white;  
   margin-bottom: 10px;
}
.email_input1:focus
{
    outline: 2px solid white;
}
.getstarted1
{
background-color: rgb(228, 6, 6);
    color: white;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: normal;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 170px;
    margin-bottom: 100px;
}
.footer
{
    /* border-top: 7px solid rgba(128, 128, 128, 0.244); */
    width: 70vw;
    margin: 20px auto;
    height: 70vh;
    
    /* background-color: rgb(204, 15, 15); */
   
    
    
}
.footer a
{
    color:rgba(255, 255, 255, 0.7);
}
.help
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    

}
.support
{
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    justify-content: start;
    gap: 5vmax;
    
}
.support_details
{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 


.language
{
    
    width: 100px;
    padding: 8px 10px;
    gap: 6px;
    border: 3px solid rgba(87, 87, 87, 0.56);
    border-radius: 7px;
    
}

.language2
{
    
    width: 100px;
    padding: 8px 10px;
    gap: 6px;
    border: 3px solid rgba(87, 87, 87, 0.56);
    border-radius: 7px;
    margin-top: 50px;
}
.language select
{
 border: none;
 background-color: black;
 color: white;
 font-size: 15px;
}
.language2 select
{
 border: none;
 background-color: black;
 color: white;
 font-size: 15px;
}
.language option
{
    margin-top: 60px;
    color:black;
    border: none;
    background-color: white;

   
}
.languagepng
{
    height: 20px;
    width: 20px;
    color: white;
}
.nindia
{
    margin-bottom: 100px;
}
.nindia p{
    margin-top: 30px;
    color:rgba(255, 255, 255, 0.7);
    margin-bottom: 100px;
    
}
}


/* small screen */
@media  (max-width:586px)
{
    .maincontainer
    {
        width: 100vw;
        /* height: 100vh; */
    }
    .container-one
    {
       width: 100vw;
       height: 100vh;
       overflow: hidden;
       position: relative;
    }
    .bg-image
    {
        
        width: 100%;
        transform: scale(1.2);
        height: 100vh;
        object-fit: cover;
    }
    .tint
    {
        background-color:rgba(0, 0, 0, 0.381);
        height: 100vh;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
        position: absolute;
       
        /* z-index: 1; */
        top: 0;
       bottom: 0;
       left: 0;
       right: 0;
    
    }
    .nav {
        position: absolute;
        width: calc(100vw - 80px);  /* Full width le raha hai */
        display: flex;
        justify-content: space-between; /* Left & Right me maximum gap */
        align-items: center;
        top: 6%;
        left: 50%;
        align-items: center;
        transform: translate(-50%, -50%);
        overflow: hidden;
       
    }
    
    
    .netflixlogo
    {
        /* position: absolute; */
        height: 25vh;
        width: 25vw;
        /* background-color: aqua; */
        margin: 0;
        display: block;
        object-fit: contain;
        /* margin-right: 150px; */
       
        
    }
    .Flex-button
    {
        display: flex;
        gap:10px;
        align-items: center;
    }
    .en-btn
    {
        background-color: black;
        color: white;
        border:2px solid gray;
        padding: 10px 15px;
        font-size: 15px;
        border-radius: 5px;
    }
    .Sign_in
    {
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: 2vmax;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .content
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
        text-align: center;
        overflow: hidden;
    
    }
    .mainheading
    {
        font-size: 4vmax;
        text-align: center;
        margin: 0;
       
    }
    .secondheading
    {
        
        font-size: 2vmax;
        font-weight: bold;
    }
    
    
    
    .email_flex
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
    }
    .email_input
    {
        width: 40vw;
        padding: 14px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.551);
        border: 1px solid #eeeeee70;
        border-radius: 4px;
    }
    .email_input:focus
    {
        outline: 2px solid white;
    }
    .getstarted
    {
        background-color: rgb(228, 6, 6);
        color: white;
        padding: 10px 20px;
        font-size: 3vmax;
        font-weight: bold;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .arrow
    {
       margin-top: 4px;
    }
    .second
    {
        border-top: 7px solid rgba(128, 128, 128, 0.244);
    }
    .left
    {
    
        width: 80vw;
        margin: auto;
        text-align: center;
    }
    .container-two
    {
    
        color: white;
        margin: 100px auto;
        
    }
    .sndtheading
    {
        font-size: 35px;
    }
    .contenttwo
    {
        margin-top: -20px;
    }
    .right
    {
        width: 80vw;
        text-align: center;
        margin: auto;
    }
    .realtv
    {
        margin: auto;
        width: 70vw;
        display: block;
        position: relative;
    }
    .videoon
    {
            top: 50%;
            left: 50%;
            width: 72%;
            transform: translate(-50%,-50%);
            object-fit: contain;
            position: absolute;
    }
    
    
    .videoimg
    {
        width: 100%;
        position: relative;
        
    }
    .Third
    {
        border-top: 7px solid rgba(128, 128, 128, 0.244);
    }
    .container-three
    {
        width: 900px;
        display: flex;
        margin: 50px 300px;
        
        margin-top: 100px;
    }
    
    .videoon1
    {
            top:30%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 62%;
            object-fit: contain;
            position: absolute;
        
    }
    .device
    {
            width: 100%;
            position: relative; 
        
    }
    .kids
    {
        width: 70vw;
    }
    
    .Fourth
    {
        border-top: 7px solid rgba(128, 128, 128, 0.244);
    }
    .Fourth h1{
        font-size: 40px;
    }
    .container-four
    {   width: 70vw;
        position: relative;
        color: rgb(255, 255, 255);
        text-align: center;
        left:50%;
        top: 5%;
        transform: translate(-50%,5%);
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .question
     {
       width: 70vw;
        background-color:rgb(45, 45, 45);
        display: flex;
        margin-bottom: 6px;
        justify-content: space-between;
        transition: .3s;
       
       
     }
     .question:hover
     {
        background-color:rgba(86, 82, 82, 0.736);
     }
    .what
    {
        
        text-align: start;
        background:none;
        border: none;
        font-size: 2vmax;
        color: white;
        padding: 15px;
       
    }
    .details
    {
        font-size: 50px;
        background: none;
        border: none;
        color: white;
        font-weight: lighter;
    
    }
    .email_input1
    {
        width: 50vw;
       padding: 15px;
       border: 1px solid rgba(128, 128, 128, 0.44);
       border-radius: 5px;
       background-color: rgba(0, 0, 0, 0.568);
       color:white;  
       margin-bottom: 10px;
    }
    .email_input1:focus
    {
        outline:3px solid white;
    }
    .getstarted1
    {
    background-color: rgb(228, 6, 6);
        color: white;
        padding: 8px 10px;
        font-size: 17px;
        font-weight: normal;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 3px;
        margin-left: 7vw;
        margin-bottom: 100px;
    }
    .footer
    {
        /* border-top: 7px solid rgba(128, 128, 128, 0.244); */
        width: 70vw;
        margin: 20px auto;
        height: 70vh;
        
        /* background-color: rgb(204, 15, 15); */
       
        
        
    }
    .footer a
    {
        color:rgba(255, 255, 255, 0.7);
    }
    .help
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
        
    
    }
    .support
    {
        margin-top: 10px;
        display: flex;
         flex-direction: column;
        justify-content: start;
        gap: 2vmax;
        
    }
    .support_details
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    } 
    
    
    .language
    {
        
        width: 100px;
        padding: 8px 10px;
        gap: 6px;
        border: 3px solid rgba(87, 87, 87, 0.56);
        border-radius: 7px;
        
    }
    
    .language2
    {
        
        width: 100px;
        padding: 8px 10px;
        gap: 6px;
        border: 3px solid rgba(87, 87, 87, 0.56);
        border-radius: 7px;
        margin-top: 50px;
    }
    .language select
    {
     border: none;
     background-color: black;
     color: white;
     font-size: 15px;
    }
    .language2 select
    {
     border: none;
     background-color: black;
     color: white;
     font-size: 15px;
    }
    .language option
    {
        margin-top: 60px;
        color:black;
        border: none;
        background-color: white;
    
       
    }
    .languagepng
    {
        height: 20px;
        width: 20px;
        color: white;
    }
    .nindia
    {
        margin-bottom: 100px;
    }
    .nindia p{
        margin-top: 30px;
        color:rgba(255, 255, 255, 0.7);
        margin-bottom: 100px;
        
    }
    }


